body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#mycarousel
{
    background-color: red;
}
#mycarousel img {
    height: 300px;
    margin-top: 30px;
} 
.carousel-inner p {
    font-size: 25px;
    color: blue;
    margin-top: 15px;
    margin-bottom: 15px;
}

